.profile__edit-btn {
  min-width: 24px;
  height: 24px;
  box-sizing: border-box;
  align-self: center;
  border: 1px solid #fff;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../images/edit-button.svg");
  background-size: 10px 10px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.profile__edit-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile__edit-btn {
    margin: 0 auto;
    min-width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
