.header__exit-btn {
  color: #A9A9A9;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}



@media screen and (max-width: 1023px) {
  .header__exit-btn {
    padding-right: 30px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 375px) {
  .header__exit-btn {
    padding-right: 0;
  }
}
