.card-item__delete-btn {
  position: absolute;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 19px;
  background-color: transparent;
  border: 0;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.card-item__delete-btn:hover {
  opacity: .5;
}
